azure-ai-ml
azure-identity
azure-mgmt-cognitiveservices
azure-search
azure-search-documents
BeautifulSoup4
chardet
flask
msal
Office365-REST-Python-Client
openai
python-dotenv
requests
sentence_transformers